<h1>Kisi Event</h1>
<p>this notificaion was triggered by the following rules</p>
<ul>
<% @rule_names.each do |rule_name| %>
  <li><%= rule_name %></li>
<% end %>
<p>for the event:</p>
<pre>
<%= @event_payload %>
</pre>

<p> the Kisi Team</p>
