Kisi Event
==========
<this notificaion was triggered by the following rules:
<% @rule_names.each do |rule_name| %>
- <%= rule_name %>
<% end %>


for the event:
---
<%= @event_payload %>
---

the Kisi Team
